.sapMBarTitleAlignAuto .sapMBarPH {
    justify-content: center;
}
.sapMITBFilter .sapMITBText .sapMITHTextContent {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: visible;
    vertical-align: bottom;
}